TOOLJET_HOST=https://tools4.bforward.com.mx
LOCKBOX_MASTER_KEY=               
SECRET_KEY_BASE=                  

PG_HOST=postgres
PG_PORT=5432
PG_DB=tooljet
PG_USER=tooljet
PG_PASS=                           

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_USER=default
REDIS_PASSWORD=

TOOLJET_DB_HOST=postgres
TOOLJET_DB_PORT=5432
TOOLJET_DB_NAME=tooljet
TOOLJET_DB_PASS=
TOOLJET_DB_USER=tooljet

PGRST_DB_SCHEMAS=public, workspace_%, information_schema
