# ToolJet Configuration
TOOLJET_HOST=http://localhost:80  # Cambia esto después por tu dominio
LOCKBOX_MASTER_KEY=               # Genera una con: openssl rand -hex 32
SECRET_KEY_BASE=                   # Genera una con: openssl rand -hex 64

# PostgreSQL Configuration
PG_HOST=postgres
PG_PORT=5432
PG_DB=tooljet
PG_USER=tooljet
PG_PASS=                           # Cambia esto por una contraseña segura

# Redis Configuration
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_USER=default
REDIS_PASSWORD=
